body { background:#222 url(images/charcoal.png); font: 12px Arial, sans-serif; color: #3a3a3a; margin:0;}
a { color:#006acd; text-decoration:none; }
a:hover { text-decoration:none; }
#header-wrapper {background: #222 url(images/noise.png) repeat-x; height:40px; border-bottom: 1px #111 solid; box-shadow: 0px 0px 3px #000;overflow:hidden;}
#header { width:1100px; margin:0 auto; position:relative; z-index:2; }
#top-navigation { height:40px; float:right;width:100px;margin:0;padding-top:12px;}
#top-navigation li { float:left; display:block; margin-right:10px; text-shadow: 0px -1px 1px #000; position:relative; height:24px; z-index:100;color:#f3f3f3;font-size: 13px;font-family:'Segoe UI', Tahoma, sans-serif; }
#top-navigation li a { display:block;  font-size: 13px;font-family:sans-serif; color:#C9C9C9;}
#date{text-shadow: 0px -1px 1px #000;float:left;padding-left:30%;color: #C9C9C9; font-size: 13px;font-family:sans-serif;height:40px;padding-top:12px;text-align:center;width:400px;margin:0 auto;}
.datereduce{color: #999;float:left;}
#clockbox {float:left;padding-left:4px;}
#clockbox span{color: #999;}
#main-wrapper { width:1100px; background:none; margin:0 auto; padding:20px;}
#cards {}

#row{height:145px;width:1100px;}
#card{z-index:2;height:120px; width:245px;background:#999;border:1px #020202 solid;float: left; margin: 7px;}
.preview {z-index:5;overflow:hidden;height:120px; width:245px;margin:0;position:absolute;}
.overlay {position:absolute;box-shadow: inset 0px 1px 7px #000; z-index:10;height:120px; width:245px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.15) 80%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(31%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.15) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0.15) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
}
.overlay:hover {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.01) 80%, rgba(0,0,0,0.01) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(31%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.01))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.01) 80%,rgba(0,0,0,0.01) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.01) 80%,rgba(0,0,0,0.01) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.01) 80%,rgba(0,0,0,0.01) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.01) 80%,rgba(0,0,0,0.01) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=0 ); /* IE6-9 */
}
#name {z-index:25;background:#222; opacity: .4;height:20px;width:245px;position:relative;top:100px;left:0px;display:block;}
#name h2 {font-size:14px;color:#fff;font-family: 'Segoe UI', Tahoma, sans-serif;text-shadow:0px -1px 1px black;margin:0 auto; width:245px; text-align:center;font-weight:normal;text-decoration:none;}
.section-title { background:url(images/section-title.png) repeat; padding:9px 9px 6px 9px; margin-bottom:30px; text-shadow: 1px 1px 1px #FFF; font-size:28px; font-family: "Robotoboldcon", "BebasNeueRegular"; }
.progressbar{
    
    width:600px;
    height:25px;
    margin:0 auto 20px auto;
    padding:0px;
    
    background:#cfcfcf;
    border-width:1px;
    border-style:solid;
    border-color: #aaa #bbb #fff #bbb;    
    box-shadow:inset 0px 2px 3px #bbb;    
}

.progressbar,
.progressbar-inner{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
}

.progressbar-inner{
    height:100%;
    background:#999;
    background-size:18px 18px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
	-webkit-animation: animate-bg 2s linear infinite;
    -moz-animation: animate-bg 2s linear infinite;
}

.progressbar-inner span{

	margin-left: 45%;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	top: 4px;
	position: relative;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.55) 0px 0px 5px;
	width: 15px;
	
}

/*
 * Transition - just for fun
 */


@-webkit-keyframes animate-bg{
    from {
        background-position: 0 0;
    }
    to {
       background-position: 36px 0;
    }
}
@-moz-keyframes animate-bg{
    from {
        background-position: 0 0;
    }
    to {
       background-position: 36px 0;
    }
}


/*
 * Background
 */

.stage{
    position:relative;
    width:750px;
    height:267px;
    padding-top:160px;
    background-color: #eee;
    background-size:12px 12px;
    background-image: -webkit-linear-gradient(-45deg,
                                rgba(255, 255, 255, .2) 10%, 
                                transparent 10%, transparent 50%, 
                                rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 60%,
                                transparent 60%, transparent);
    background-image: -moz-linear-gradient(-45deg,
                                rgba(255, 255, 255, .3) 10%, 
                                transparent 10%, transparent 50%, 
                                rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%,
                                transparent 60%, transparent);
    background-image: -ms-linear-gradient(-45deg,
                                rgba(255, 255, 255, .3) 10%, 
                                transparent 10%, transparent 50%, 
                                rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%,
                                transparent 60%, transparent);
    background-image: -o-linear-gradient(-45deg,
                                rgba(255, 255, 255, .3) 10%, 
                                transparent 10%, transparent 50%, 
                                rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%,
                                transparent 60%, transparent);
    background-image: linear-gradient(-45deg,
                                rgba(255, 255, 255, .3) 10%, 
                                transparent 10%, transparent 50%, 
                                rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%,
                                transparent 60%, transparent);
}

.by{    
    position:absolute;
    bottom:30px;
    right:50px;
}

.by a, 
.by a:visited,
.by a:link, 
.by a:active{
    font-family:Pacifico, Arial, sans-serif;
    font-size:16px;
    text-shadow:0px 1px 1px #fff;
    color:#999;
    text-decoration:none;
}

.by a:hover{
    color:#f67;
}